<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/dtable.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <title>Закрытые рулоны</title>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b><span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
            </div>
            <div id="navbar" class="containernav">
                <p></p>
                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>
        <div class="maincontent">
            <input action="action" type="button" id='backButton' value="<<< Вернуться" class='addButton' onclick="window.history.go(-1); return false;" />
            <div class="title-div">

                <p class="title">Список рулонов</p>
            </div>
            <div class="incomelist" style="display:none">
                <table id="incomelisttbl">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Поставщик</th>
                            <th>Толщина</th>
                            <th>Цвет</th>
                            <th>Вес</th>
                            <th>Ост П.М.</th>
                            <th>Всего П.М.</th>
                            <th>Вагон</th>
                            <th>Принял</th>
                            <th>Дата принятия рулона</th>
                        </tr>
                    </thead>
                    <tbody id="node1">

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/dataTable/datatables.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/permissions.js"></script>
    <script src="/js/closedrolls.js "></script>
    <script>
        $(window).bind("load", function() {
            setTimeout(function() {
                $('.incomelist').show(0);
                $('#incomelisttbl').DataTable({
                    "lengthMenu": [
                        [15, 30, -1],
                        [15, 30, "Все"]
                    ]
                });
            }, 150);
        });
    </script>
</body>

</html>