<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <title>Принять рулон</title>
    <style>
        .login-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }
        
        .login-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
        
        .inputa {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        .login-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b><span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
                <p></p>
                </b>
            </div>
            <div id="navbar" class="containernav">


                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>

        <div class="maincontent">
            <input action="action" type="button" id='backButton' value="<<< Вернуться" class='addButton' onclick="window.history.go(-1); return false;" />
            <div class="title-div">
                <p class="title">Прием рулона</p>
                <hr/>
            </div>
            <div class="login-form">
                <form method="POST" action="incacc" enctype="multipart/form-data">
                    <input required placeholder="Поставщик" class="inputa" id="supply" name="supply">
                    <input required placeholder="Толщина" type="number" min="0" max="2" step="0.01" class="inputa" name="thickness">
                    <select required id="color" name="color" class="inputa">
                            <option value=""></option>
                            <option value="Цинк" style="background-color:#bac4c8;color:#000000">Цинк</option>
                            <option value="3005 Красный" style="background-color:#59191f;color:white"> 3005 Красный</option>
                            <option value="5005 Синий" style="background-color:#005387;color:white"> 5005 Синий</option>
                            <option value="6005 Зеленый" style="background-color:#114232;color:white"> 6005 Зеленый</option>
                            <option value="5021 Бирюзовый" style="background-color:#007577;color:white"> 5021 Бирюзовый</option>
                            <option value="8017 Коричневый" style="background-color:#442f29;color:white"> 8017 Коричневый</option>
                            <option value="1014 Слоновая кость" style="background-color:#ddc49a;color:#000000"> 1014 Слоновая кость</option>
                            <option value="9003 Белый" style="background-color:#ecece7;color:#000000"> 9003 Белый</option>
                            <option value="7004 Серый" style="background-color:#9b9b9b;color:#000000"> 7004 Серый</option>
                            <option value="6002 Светло-зеленый" style="background-color:#325928;;color:white">6002 Светло-зеленый</option>
                            <option value="Камень" style="color:#000000">Камень</option>
                            <option value="Дерево"style="color:#000000">Дерево</option>
                        </select>

                    <input placeholder="Вес" required class="inputa" name="weight">


                    <input placeholder="Погонные метры" required class="inputa" name="pm">


                    <input placeholder="№ Вагона(если требуется)" class="inputa" name="wagon">


                    <input placeholder="Примечание" class="inputa" name="prim">

                    <input required type="file" name="filedata" id="input_birka" class="input__file">
                    <label for="input_birka" class="input__file-button">
                        <p class="input__file-button-text">Бирка</p>
                    </label>
                    <input required type="file" name="filedata" id="input_passport" class="input__file">
                    <label for="input_passport" class="input__file-button">
                        <p class="input__file-button-text">Паспорт</p>
                    </label>
                    <input class="submitroll" type="submit" value="Принять рулон">
            </div>
            </form>
        </div>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/income.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/permissions.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>