<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/dtable.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <style>
        h4 {
            margin-top: 2px;
        }
        
        select,
        input {
            width: 90px;
            height: 35px;
        }
    </style>
    <title>Главная страница</title>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b><span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
            </div>
            <div id="navbar" class="containernav">
                <p></p>
                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>
        <div class="maincontent" id="content">
            <input action="action" type="button" id='backButton' value="<<< Вернуться" class='addButton' onclick="window.history.go(-1); return false;" />
            <div class="pagename">
                <h3 id="ordern" style="color:black">Рулон №
                    <%=rullonid%>
                </h3>
            </div>
            <div class="rollinfo">
                <span class='roll-param' id="vendor">Поставщик:</span>
                <span class='roll-param' id="thick">Толщина:</span>
                <span class='roll-param' id="color">Цвет:</span>
                <span class='roll-param' id="date">Дата поставки:</span>
                <span class='roll-param' id="pm">Погонные метры:</span>
                <span class='roll-param' id="pmleft">Ост. пог. м.:</span>
                <span class='roll-param' id="wagon">Вагон:</span>
                <span class='roll-param' id="disdate">Дата списания:</span>
                <span class='roll-param' id="acceptor">Рулон принял:</span>
                <span class='roll-param' id="other">Примечание:</span>
            </div>
            <div class="rollimgs" style='display:flex;'>
                <div id='tag-div'>
                    <button class='addButton' data-fancybox data-src="#hidden-birka" href="javascript:;"><span>Показать бирку</span>
                    <div style="display: none;" id="hidden-birka">
                        <img id='birka-img' width="1200px">
                    </div>
                </div>
                <div id='doc-div'>
                    <button class='addButton' data-fancybox data-src="#hidden-passport" href="javascript:;"><span>Показать документ</span>
                    <div style="display: none;" id="hidden-passport">
                        <img id='passport-img' width="1200px">
                    </div>
                </div>
                <div style='margin-left:auto;'>
                    <form method='GET' action="/discardroll/<%=rullonid%>" onSubmit="return confirm('Вы уверены что хотите списать рулон?')">
                        <button  class='addButton' id='discardButton'><span>Списать Рулон</span>
                    </form>
                 </div>
            </div>

        </div>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src='/js/popper.min.js '></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/permissions.js"></script>
    <script src="/js/rollpage.js"></script>
    </body>

</html>