<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <title>Добавить пользователя</title>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b><span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
            </div>
            <div id="navbar" class="containernav">
                <p></p>
                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>
        <div class="maincontent">
            <div class="title-div">
                <p class="title">Добавить пользователя</p>
                <hr>
            </div>
            <div class="login-form">
                <form action="/register" method="POST">
                    <input class="inputa" type="text" name="username" placeholder="Логин" required>
                    <input class="inputa" type="password" name="password" placeholder="Пароль" required>
                    <input class="inputa" type="text" name="lastname" placeholder="Фамилия" required>
                    <input class="inputa" type="text" name="surname" placeholder="Имя" required>
                    <select required id="role" name="role" class="inputa">
                        <option disabled selected hidden value=''>Должность</option>
                        <option value="0">Администратор</option>
                        <option value="1">Менеджер</option>
                        <option value="2">Кладовщик</option>
                        <option value="3">Карщик</option>
                        <option value="4">Оператор</option>
                        <option value="10">Менеджер производства</option>
                        <option value="9">Менеджер по отгрузкам</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/permissions.js"></script>
</body>

</html>