<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
</head>

<body>
    <div id="menu" class="sidemenu">
        <div class="greetings" id="greetings">
            <b><span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
        </div>
        <div class="containernav">
            <form method="GET" action="/createorder">
                <button type="submit" class="btn-link">Создать заказ</button>
            </form>
            <form method="GET" action="/orderlist">
                <button type="submit" class="btn-link">Список заказов</button>
            </form>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>

                    <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                </div>
            </div>
            <form method="GET" action="/leftovers">
                <button type="submit" class="btn-link">Остатки</button>
            </form>
            <form method="GET" action="/rollaccept">
                <button type="submit" class="btn-link">Принять рулон</button>
            </form>
            <form method="GET" action="/createuser">
                <button type="submit" class="btn-link">+ Пользователь</button>
            </form>
            <form method="GET" action="/exitsession">
                <button type="submit" class="btn-link">Выход</button>
            </form>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/permissions.js"></script>
</body>

</html>