@import url('https://fonts.googleapis.com/css?family=Rubik:500');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover,
.btn:active,
.btn:focus {
    transition: none;
    font-size: 25px;
    border: none;
    line-height: 1;
}

.btn {
    transition: none;
    font-size: 25px;
    border: none;
    line-height: 1;
}

.rullon {
    border: none;
    width: 100%;
    height: 24px;
}

.btn-light {
    height: 36px;
    background-color: #ffffff;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

.pipelist,
.input-select {
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    width: 160px;
    border: 1px solid #E0E0E0;
    height: 40px;
    padding: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.div-type {
    margin-bottom: 5px;
    display: inline-flex;
}

.inputc,
.inputf {
    margin-left: 8px;
    width: 100px;
    height: 40px;
    padding: 2px;
    border: 1px solid #E0E0E0;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.inputa {
    width: 200px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.deleteorder-btn,
.saveorder-btn,
.cancelorder-btn,
.cancelstatus1-btn,
.changestatus1-btn,
.changestatus0-btn {
    margin-left: 10px;
    float: right;
}

.ready-form {
    margin: 0;
    display: flex;
}

.readyorder-btn {
    height: 35px;
    margin-left: 10px;
}

.bot-header {
    margin-top: 10px;
    display: flex;
    height: 80px;
    font-size: 20px;
    color: black;
}

.rollinfo {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.rollimgs {
    margin-top: 25px;
}

.rollimgs button {
    margin-right: 20px;
    width: 250px;
}

.roll-param {
    margin-bottom: 10px;
    font-size: 25px;
    margin-right: 15px;
}

.pagename {
    display: flex;
    text-align: center;
    padding-bottom: 5px;
}

.pagename h3 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.inputa {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.sidemenu button,
.sidemenu b {
    font-weight: 600;
    padding: 10px 0px 8px 20px;
    margin: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
}

.sidemenu button,
.sidemenu b:hover {
    color: white
}

h4 {
    margin: 16px;
}

.containernav {
    margin-top: 65px;
}

#orderlisttbl {
    width: 100%;
}

.container2 {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.thick-field {
    margin-right: auto;
    padding-left: 10px;
    display: inline-flex;
    /* border-right: 1px solid black; */
}

.color-field {
    margin-right: auto;
    padding-left: 10px;
    display: inline-flex;
    /* border-right: 1px solid black; */
}

.productname {
    margin-right: auto;
    display: inline-flex;
    /* border-right: 1px solid black; */
}

.product {
    display: inline-flex;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    padding-left: 10px;
}

.product span,
.product p {
    margin-right: 5px;
    font-size: 20px;
    color: black;
}

.regform {
    width: 400px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.productlist {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 85%;
    min-height: 890px;
    /* border: 2px solid #000;
} */
}

.positions table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    background: white;
    /* height: 600px; */
    /* max-height: 600px; */
    max-width: 100%;
    overflow-y: scroll;
    width: 100%;
    /* border-collapse: collapse; */
    text-align: center;
}


/* table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    background: white;
   
    max-width: 100%;
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
} */

.readydate,
.departdate,
.deliverdate {
    text-align: center;
    border: 1px black solid;
    height: 60px;
    width: 200px;
}

.readydate input,
.readydate input:hover,
.readydate input:active,
.readydate input:focus,
.thick-field input,
.thick-field input:hover,
.thick-field input:active,
.thick-field input:focus {
    width: 80%;
    border: none;
    border-width: 0;
    box-shadow: none;
    outline: none;
    height: 20px;
    margin-bottom: 2px;
}

.createdate,
.rullonf {
    text-align: center;
    border: 1px black solid;
    height: 60px;
    width: 260px;
}

.clientname {
    display: flex;
    color: black;
    font-size: 20px;
}

.readydate p,
.departdate p,
.deliverdate p,
.createdate p,
.rullonf p {
    margin-bottom: 0;
}


/* 
th {
    font-weight: normal;
    color: #000;
    border-bottom: 2px solid #000;
    padding: 10px 8px;
} */

.positions th {
    font-weight: normal;
    color: #000000;
    border: 1px solid #000000;
    border-top: none;
    padding: 5px 3px;
}

.incomelist {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 85%;
    min-height: 890px;
}


/* td {
    color: #000;
    padding: 5px 3px;
    transition: .3s linear;
} */

.positions tr {
    border: 1px solid black;
    border-top: none;
}

.positions td {
    border-right: 1px solid black;
    color: #000000;
    padding: 5px 3px;
    transition: .3s linear;
}

tr:hover td {
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

span:hover {
    text-decoration: none;
}

.title {
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 30px;
}

.title-div {
    display: flex;
    margin-top: 5px;
    text-align: center;
}

.upperpart {
    padding-top: 5px;
    color: black;
    font-size: 25px;
    text-align: center;
    height: 50px;
}

.chooseroll {
    display: flex;
}

.maincontent {
    margin-left: 250px;
    min-height: 100vh;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #ffffff;
}

.tag {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#wavetype {
    margin-right: 10px;
}

.input-div {
    display: flex;
}

.input-div p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
}

.chooseproduct {
    display: inline-flex;
}

.products {
    padding-top: 5px;
    padding-left: 5px;
    min-height: 660px;
    max-height: 660px;
    overflow-y: auto;
    background-color: #E3F2FD;
    border: 1px solid #90A4AE;
}

input[readonly] {
    border: 1px solid #90A4AE;
    background-color: #ECEFF1;
}

textarea[readonly] {
    border: 1px solid #90A4AE;
    background-color: #ECEFF1;
}

.bottompart {
    display: flex;
}

.addproduct input {
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    width: 160px;
    border: 1px solid #90A4AE;
    height: 40px;
    padding: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.addproduct {
    margin-top: 5px;
    display: flex;
}

.greetings {
    height: 50px;
    width: 250px;
}

.greetings p {
    font-size: 20px;
}

.pord {
    display: flex;
    margin-right: auto;
}

.spanord {
    margin-left: 10px;
}

.sidemenu {
    position: fixed;
    /* min-height: 100vh; */
    height: 100%;
    width: 250px;
    background-color: #1E88E5;
    z-index: 1;
    padding-top: 50px;
    overflow-x: hidden;
}

.printable {
    display: none;
    height: 0;
    color: black;
}

.upfoot,
.downfoot,
.downfoot2 {
    display: flex;
    color: black;
    font-size: 22px;
    margin-top: 5px;
}

.foot {
    margin-top: 5px;
}

.sidemenu button:hover,
.sidemenu button:focus,
.sidemenu .btn-link:hover {
    box-shadow: none;
    background: none;
    text-decoration: none;
    outline: none;
    line-height: initial;
    border: none;
    color: #CFD8DC;
}

.btn-link {
    box-shadow: none;
    line-height: initial;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.chooseproduct span {
    margin-left: 10px;
    font-size: 22px;
}

input,
textarea,
select,
option {
    text-align: center;
}

.positions input,
.positions input:hover,
.positions input:active,
.positions input:focus {
    background-color: white;
    border: none;
    outline: none;
}

@page {
    size: auto;
    /* auto is the initial value */
    margin: 0mm;
    /* this affects the margin in the printer settings */
}

.addButton,
.deleteButton {
    font-family: 'Rubik', sans-serif;
    padding: 8px 8px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #2196F3;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
}

.addButton:after,
.deleteButton:after {
    content: "";
    border: none;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}

.addButton:focus,
.addButton:hover,
.deleteButton:focus,
.deleteButton:hover {
    background: #2196F3;
    border: none;
    outline: none;
}

.addButton:active:after,
.deleteButton:active:after {
    width: 200px;
    border: none;
    height: 200px;
}

input,
select,
button,
textarea {
    outline: #E0E0E0;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-button {
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 60px;
    border: 1px solid #CFD8DC;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.input__file-button-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

#backButton {
    width: 140px;
    height: 40px;
    margin-top: 5px;
    font-size: 14px;
}

@media print {
    * {
        zoom: 99%;
    }
}