#navbar {
    margin-top: 5px;
    display: flex;
}

.greetings b {
    margin-top: 2px;
    font-weight: bold;
    font-size: 18px;
}

.tag {
    font-size: 80px;
}

@media print {
    /* height of footer + a little extra */
    @page {
        margin: 0;
    }
    .tag {
        text-align: center;
        position: absolute;
        width: 1200px;
        height: 950px;
        font-weight: 900;
        background: #063;
        bottom: 0px;
        right: 25%;
        left: 50%;
        margin-left: -600px;
    }
}

body {
    margin: 0;
}

.maincontent {
    margin-top: 300px;
    text-align: center;
    margin-top: 3px;
    width: 100vw;
    height: 100vh;
}

.sidemenu {
    width: 100vw;
    text-align: center;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: white;
    background-color: rgb(57, 131, 200);
}

#navbar button {
    border: none;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: white;
    background-color: rgb(57, 131, 201);
}

.input-div {
    display: flex;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-button {
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 60px;
    border: 1px solid #CFD8DC;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.input__file-button-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.inputf {
    height: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: 40px;
}

.input-div p {
    margin-left: 40px;
    font-weight: bold;
    font-size: 22px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

#navbar button:focus,
#navbar button:active {
    box-shadow: none;
    background: none;
    text-decoration: none;
    outline: none;
    line-height: initial;
    border: none;
    color: rgb(216, 208, 208);
}