<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <style>
        h4 {
            margin-top: 2px;
        }
    </style>
    <title>Создание заказа</title>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b>
                    <span id='session-name'><%=username%></span> - <span id='session-role'><%=role%></span></b>
            </div>
            <div id="navbar" class="containernav">
                <p></p>
                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>
        <form method="POST" action="ordercreate" id="content" class="maincontent" onSubmit='return checkSubmit();'>
            <input action="action" type="button" id='backButton' value="<<< Вернуться" class='addButton' onclick="window.history.go(-1); return false;" />
            <div class="upperpart" style='display:flex'>

                <p class="title">Оформить заказ</p>
            </div>
            <hr />
            <div class="chooseproduct">
                <div class="input-div">
                    <div><select required id="wavetype" name="wavetype" class="input-select" onchange="changeType(),inputCost()">
                        <option selected disabled class='opt-default' value="">Волна</option>
                        <option value="С-8">С-8</option>
                        <option value="С-21">С-21</option>
                        <option value="С-20">С-20</option>
                        <option value="НС-35">НС-35</option>
                        <option value="МП-20">МП-20</option>
                        <option value="Н-60">Н-60</option>
                        <option value="С-8 АССИМ">С-8 АССИМ</option>
                        <option value="ГЛАДКИЙ ЛИСТ">ГЛАДКИЙ ЛИСТ</option>
                        <option value="С.МОНТЕРРЕЙ">С.МОНТЕРРЕЙ</option>
                        <option value="ДРУГОЕ">ДРУГОЕ</option>
                    </select>
                    </div>
                    <div class="input-div">
                        <select required id="mcolor" name="mcolor" class="input-select">
                        <option selected disabled class='opt-default' value="">Цвет</option>
                        <option value="Цинк" style="background-color:#bac4c8;color:#000000">Цинк</option>
                        <option value="3005 Красный" style="background-color:#59191f;color:white"> 3005 Красный</option>
                        <option value="5005 Синий" style="background-color:#005387;color:white"> 5005 Синий</option>
                        <option value="6005 Зеленый" style="background-color:#114232;color:white"> 6005 Зеленый</option>
                        <option value="5021 Бирюзовый" style="background-color:#007577;color:white"> 5021 Бирюзовый</option>
                        <option value="8017 Коричневый" style="background-color:#442f29;color:white"> 8017 Коричневый</option>
                        <option value="1014 Слоновая кость" style="background-color:#ddc49a;color:#000000"> 1014 Слоновая кость</option>
                        <option value="9003 Белый" style="background-color:#ecece7;color:#000000"> 9003 Белый</option>
                        <option value="7004 Серый" style="background-color:#9b9b9b;color:#000000"> 7004 Серый</option>
                        <option value="6002 Светло-зеленый" style="background-color:#325928;;color:white">6002 Светло-зеленый</option>
                        <option value="Камень" style="color:#000000">Камень</option>
                        <option value="Дерево"style="color:#000000">Дерево</option>
                    </select></div>
                    <div class="input-div">
                        <select required id="thickness" name="thickness" class="input-select">
                            <option selected disabled class='opt-default' value="">Толщина</option>
                            <option value="0.25">0.25</option>
                            <option value="0.3">0.3</option>
                            <option value="0.35">0.35</option>
                            <option value="0.4">0.4</option>
                            <option value="0.45">0.45</option>
                            <option value="0.5">0.5</option>
                            <option value="0.55">0.55</option>
                            <option value="0.6">0.6</option>
                            <option value="0.65">0.65</option>
                            <option value="0.7">0.7</option>
                            <option value="0.75">0.75</option>
                            <option value="0.8">0.8</option>
                            <option value="0.85">0.85</option>
                        </select>
                    </div>
                    <div class="input-div">
                        <select required id="fthickness" name="fthickness" class="input-select">
                            <option selected disabled class='opt-default' value="">Факт. толщина</option>
                            <option value="0.25">0.25</option>
                            <option value="0.3">0.3</option>
                            <option value="0.35">0.35</option>
                            <option value="0.38">0.38</option>
                            <option value="0.4">0.4</option>
                            <option value="0.45">0.45</option>
                            <option value="0.5">0.5</option>
                            <option value="0.55">0.55</option>
                            <option value="0.6">0.6</option>
                            <option value="0.65">0.65</option>
                            <option value="0.7">0.7</option>
                            <option value="0.75">0.75</option>
                            <option value="0.8">0.8</option>
                            <option value="0.85">0.85</option>
                        </select>
                    </div>
                    <div class="input-div"></div>

                    <input required id="inputcost" class="input-select" type="text" name="costpm" oninput="inputCost()" placeholder="Цена">
                </div>
                <div class="input-div">
                    <input required id="client" class="input-select" type="text" name="client" placeholder="Заказчик">
                </div>
                <div class="input-div">
                    <input style="width:160px" required id="number" class="input-select" type="tel" name="number" placeholder="Номер телефона">
                </div>

            </div>

            <div class="products" id="products" style="margin-top:10px">
                <div class="profnastil" id="profnastil">
                    <div class="addproduct" id="product0">
                        <hr style="height:0px" />
                        <h4 class="lentext">Длина(м)</h4>

                        <input required class="inputlen" name="inputlen0" id="inputlen0" type="number" step="0.05" min="0.3" max="20" oninput="calculateSqr(this.id),calculateCost(this.id),finalLen()">
                        <h4>Кол-во</h4>
                        <input required class="inputcount" name="inputcount0" id="inputcount0" type="number" step="1" min="1" oninput="calculateSqr(this.id),calculateCost(this.id),finalCount(),finalLen()">
                        <h4>Площадь</h4>
                        <input readonly class="sqrr" name="sqrr0" id="sqrr0"></textarea>
                        <h4>Цена</h4>
                        <input readonly class="cost" name="cost0" id="cost0"></textarea>

                        <button type="button" style="margin-left:auto;margin-right:10px;height:35px" class="deleteButton" id="deleteButton0" onclick="deleteProduct(this.id)">X</button>

                    </div>
                </div>
                <div class='necond' id='necond'>
                    <div class='addproduct' id='necond0' hidden>
                        <h4>Неконд.</h4>
                        <input class='necondlist' id='input-necond0' name='input-necond0' list="select-necond0">
                        <datalist id="select-necond0" class='select-necond'>
                                <option class='optpipe' value='C-8*1200 ZN'>C-8*1200 ZN</option>
                                <option class='optpipe' value='С-8*1200 ПОЛИМЕР'>С-8*1200 ПОЛИМЕР</option>
                                <option class='optpipe' value='С-8*1180 ZN'>С-8*1180 ZN</option>
                                <option class='optpipe' value='С-8*1180 ПОЛИМЕР'>С-8*1180 ПОЛИМЕР</option>
                                <option class='optpipe' value='МП20*1150 ZN'>МП20*1150 ZN</option>
                                <option class='optpipe' value='МП20*1150 ПОЛИМЕР'>МП20*1150 ПОЛИМЕР</option>
                                <option class='optpipe' value='С-21*1051 ZN'>С-21*1051 ZN</option>
                                <option class='optpipe' value='С-21*1051 ПОЛИМЕР'>С-21*1051 ПОЛИМЕР</option>
                                <option class='optpipe' value='НС-35*1090 ZN'>НС-35*1090 ZN</option>
                                <option class='optpipe' value='НС-35*1090 ПОЛИМЕР'>НС-35*1090 ПОЛИМЕР</option>
                                <option class='optpipe' value='Н-60*902 ZN'>Н-60*902 ZN</option>
                                <option class='optpipe' value='Н-60*902 ПОЛИМЕР'>Н-60*902 ПОЛИМЕР</option>
                                <option class='optpipe' value='С.МОНТЕРРЕЙ*1051 ZN'>С.МОНТЕРРЕЙ*1051 ZN</option>
                                <option class='optpipe' value='С.МОНТЕРРЕЙ*1051 ПОЛИМЕР'>С.МОНТЕРРЕЙ*1051 ПОЛИМЕР</option>
                                <option class='optpipe' value='С-20*1140 ZN'>С-20*1140 ZN</option>
                                <option class='optpipe' value='С-20*1140 ПОЛИМЕР'>С-20*1140 ПОЛИМЕР</option>
                        </datalist>
                        <h4>Кв. м.</h4>
                        <input type="number" min='0' step='0.001' class='necondpm' name="necondpm0" id="necondpm0" oninput='calculateNecond(this.id)'>
                        <h4>Цена/кв.м</h4>
                        <input type="number" min='0' class='necondcpm' name="necondcpm0" id="necondcpm0" oninput='calculateNecond(this.id)'>
                        <h4>Цена</h4>
                        <input readonly type="number" step='0.001' class='necondfc' name="necondfc0" id="necondfc0">
                        <button type="button" style="margin-left:auto;margin-right:10px;height:35px" class="deleteButton" id="deleteNecond0" onclick="deleteNecond(this.id)">X</button>
                    </div>
                </div>
                <div class="misc" id="misc">
                    <div class="addproduct" id="misc0" hidden>
                        <hr style="height:0px" />
                        <h4 class="lentext">Товар</h4>
                        <input class="inputMisc" name="inputMisc0" id="inputMisc0" type="text" step="0.05" min="1" max="13" oninput="">
                        <h4>Кол-во</h4>
                        <input class="inputMcount" name="inputMcount0" id="inputMcount0" type="number" step="1" min="1" oninput="calculateMiscCost(this.id)">
                        <h4>Цена/шт.</h4>
                        <input class="costM" name="costM0" id="costM0" oninput="calculateMiscCost(this.id)"></textarea>
                        <h4>Итого</h4>
                        <input readonly class="fcostM" name="fcostM0" id="fcostM0"></textarea>
                        <button type="button" style="margin-left:auto;margin-right:10px;height:35px" class="deleteButton" id="deleteMisc0" onclick="deleteMisc(this.id)">X</button>
                    </div>
                </div>
                <div class="pipe" id="pipe">
                    <div class='addproduct' id='pipe0' hidden>
                        <h4>Труба</h4>
                        <input class='pipelist' id="input-pipe0" name='input-pipe0' list="select-pipe0">
                        <datalist id="select-pipe0" class='select-pipe'>
                            <option class='optpipe' value='15*15*1.5'>15*15*1.5</option>
                            <option class='optpipe' value='15*15*1.8'>15*15*1.8</option>
                            <option class='optpipe' value='20*20*1.35'>20*20*1.35</option>
                            <option class='optpipe' value='20*20*1.5'>20*20*1.5</option>
                            <option class='optpipe' value='20*20*1.8'>20*20*1.8</option>
                            <option class='optpipe' value='20*20*2'>20*20*2</option>
                            <option class='optpipe' value='30*30*1.35'>30*30*1.35</option>
                            <option class='optpipe' value='30*30*1.5'>30*30*1.5</option>
                            <option class='optpipe' value='30*30*1.8'>30*30*1.8</option>
                            <option class='optpipe' value='30*30*2'>30*30*2</option>
                            <option class='optpipe' value='40*20*1.35'>40*20*1.35</option>
                            <option class='optpipe' value='40*20*1.5'>40*20*1.5</option>
                            <option class='optpipe' value='40*20*1.8'>40*20*1.8</option>
                            <option class='optpipe' value='40*20*2'>40*20*2</option>
                            <option class='optpipe' value='40*25*1.5'>40*25*1.5</option>
                            <option class='optpipe' value='40*25*1.8'>40*25*1.8</option>
                            <option class='optpipe' value='40*25*2'>40*25*2</option>
                            <option class='optpipe' value='40*40*1.5'>40*40*1.5</option>
                            <option class='optpipe' value='40*40*1.8'>40*40*1.8</option>
                            <option class='optpipe' value='40*40*2'>40*40*2</option>
                            <option class='optpipe' value='40*40*2.8'>40*40*2.8</option>
                            <option class='optpipe' value='40*40*3'>40*40*3</option>
                            <option class='optpipe' value='50*25*1.5'>50*25*1.5</option>
                            <option class='optpipe' value='50*25*1.8'>50*25*1.8</option>
                            <option class='optpipe' value='50*25*2'>50*25*2</option>
                            <option class='optpipe' value='50*50*1.8'>50*50*1.8</option>
                            <option class='optpipe' value='50*50*2'>50*50*2</option>
                            <option class='optpipe' value='60*30*1.8'>60*30*1.8</option>
                            <option class='optpipe' value='60*30*2'>60*30*2</option>
                            <option class='optpipe' value='60*30*2.8'>60*30*2.8</option>
                            <option class='optpipe' value='60*30*3'>60*30*3</option>
                            <option class='optpipe' value='60*40*1.5'>60*40*1.5</option>
                            <option class='optpipe' value='60*40*1.8'>60*40*1.8</option>
                            <option class='optpipe' value='60*40*2'>60*40*2</option>
                            <option class='optpipe' value='60*40*2.8'>60*40*2.8</option>
                            <option class='optpipe' value='60*40*3'>60*40*3</option>
                            <option class='optpipe' value='60*60*1.8'>60*60*1.8</option>
                            <option class='optpipe' value='60*60*2'>60*60*2</option>
                            <option class='optpipe' value='60*60*2.8'>60*60*2.8</option>
                            <option class='optpipe' value='60*60*3'>60*60*3</option>
                            <option class='optpipe' value='80*40*1.8'>80*40*1.8</option>
                            <option class='optpipe' value='80*40*2'>80*40*2</option>
                            <option class='optpipe' value='80*40*2.8'>80*40*2.8</option>
                            <option class='optpipe' value='80*40*3'>80*40*3</option>
                            <option class='optpipe' value='80*60*2'>80*60*2</option>
                            <option class='optpipe' value='80*60*2.8'>80*60*2.8</option>
                            <option class='optpipe' value='80*60*3'>80*60*3</option>
                            <option class='optpipe' value='80*80*2'>80*80*2</option>
                            <option class='optpipe' value='80*80*2.8'>80*80*2.8</option>
                            <option class='optpipe' value='80*80*3'>80*80*3</option>
                            <option class='optpipe' value='80*80*4'>80*80*4</option>
                            <option class='optpipe' value='100*50*2.8'>100*50*2.8</option>
                            <option class='optpipe' value='100*50*3'>100*50*3</option>
                            <option class='optpipe' value='100*50*4'>100*50*4</option>
                            <option class='optpipe' value='100*100*2.8'>100*100*2.8</option>
                            <option class='optpipe' value='100*100*3'>100*100*3</option>
                            <option class='optpipe' value='100*100*4'>100*100*4</option>
                            <option class='optpipe' value='120*120*3'>120*120*3</option>
                            <option class='optpipe' value='120*120*4'>120*120*4</option>
                            <option class='optpipe' value='140*140*4'>140*140*4</option>
                            <option class='optpipe' value='140*140*5'>140*140*5</option>
                        </datalist>
                        <h4>Пог.м.</h4><input type='number' class='input-select pm' id='pipepm0' name='pipepm0' oninput="calculatePipe(this.id)" min='0'>
                        <h4>Цена/м.</h4><input type='number' class='input-select costpm' id='pipecpm0' name='pipecpm0' oninput="calculatePipe(this.id)" min='0'>
                        <h4>Цена</h4><input class='input-select costfinal' id='pipefc0' name='pipefc0' min='0'>
                        <button type="button" style="margin-left:auto;margin-right:10px;height:35px" class="deleteButton" id="deletePipe0" onclick="deletePipe(this.id)">X</button>
                    </div>
                </div>

            </div>

            <hr style="height:0px" class="hrhr " id="hrhr " />
            <div class="addproduct" id="finalproduct">
                <hr/>
                <h4>Длина м</h4>
                <input readonly style="width:60px" class="finallen" id="finallen" name="finallen" type="number" step="0.05" min="1" max="10">
                <h4>Кол-во</h4>
                <input readonly style="width:60px" class="finalcount" id="finalcount" name="finalcount" type="number" step="1" min="1">
                <h4>Площадь</h4>
                <textarea readonly style="width:80px;height:36px;padding-top:5px;resize:none;" name="finalsqr" class="finalsqr" id="finalsqr"></textarea>
                <h4>Цена</h4>
                <textarea readonly style="width:100px;height:36px;padding-top:5px;resize:none;" name="finalcost" class="finalcost" id="finalcost"></textarea>

                <div id="managername" style=" display:flex;">
                    <h4> Менеджер:</h4>
                    <h4 style="margin-top:1px;margin-left:-10px" id="managernamefield" name="managernamefield">
                        <%=username%>
                    </h4>
                </div>
                <button type="button" style="margin-left:auto; margin-right:10px;" class="addButton" id="addButton" onclick="addMisc()"> + ДРУГОЕ</button>
                <button type="button" style=" margin-right:10px;" class="addButton" id="addButton" onclick="addProduct()"> + ЛИСТ</button>
                <button type="button" style=" margin-right:10px;" class="addButton" id="addButton" onclick="addPipe()"> + ТРУБА</button>
                <button type="button" style=" margin-right:10px;" class="addButton" id="addButton" onclick="addNecond()"> + НЕКОНД.</button>
            </div>
            <div style="margin-top:5px" class="bottompart" id="bottompart">
                <h4 style="margin-top:10px;  bottom:10px; ">Готовность на <input required style="width:200px" type="date" id="date" name="date" /></h4>
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowcount" name="rowcount" value="1">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowids" name="rowids" value="0">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowmisccount" name="rowmisccount" value="1">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowmiscids" name="rowmiscids" value="0">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowpipecount" name="rowpipecount" value="1">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rowpipeids" name="rowpipeids" value="0">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rownecondcount" name="rownecondcount" value="1">
                <input type="hidden" style="margin-top:10px;  bottom:10px; " id="rownecondids" name="rownecondids" value="0">
                <h4 style="margin-top:10px;  bottom:10px; ">Примечание</h4>
                <input style="width:200px; height:36px;margin-top:10px" id="misc" class="misc" type="text" name="misc">
                <h4 style="margin-top:10px;  bottom:10px; ">Оплата</h4>
                <input required style="width:200px; height:36px;margin-top:10px" id="payment" class="payment" type="text" name="payment">

                <button type="submit" style="margin-left:auto; margin-right:10px; margin-top:10px; height:40px" class="addButton" id="subButton">СОЗДАТЬ ЗАКАЗ</button>

            </div>


        </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/permissions.js"></script>
    <script src="/js/createorder.js"></script>
</body>

</html>