<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="/css/portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="/css/main.css">
    <style>
        h4 {
            margin-top: 2px;
        }
        
        select,
        input {
            width: 90px;
            height: 35px;
        }
    </style>
    <title>Главная страница</title>
</head>

<body>
    <div id="container" class="container2">
        <div id="menu" class="sidemenu">
            <div class="greetings" id="greetings">
                <b>
                   <span id="session-name"><%=username%></span> - <span id="session-role"><%=role%></span></b>
            </div>
            <div id="navbar" class="containernav">
                <p></p>
                <div class="btn-group dropright" id='menu-order'>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Заказы</button>
                    <div class="dropdown-menu">
                        <a id='orders-all' class="dropdown-item" href="/orderlist">Все заказы</a>
                        <a class="dropdown-item" href="/myorderlist">Мои заказы</a>
                        <a class="dropdown-item" href="/orderinprod">В производстве</a>
                        <a class="dropdown-item" href="/orderready">Готовые</a>
                        <a class="dropdown-item" href="/orderdepart">Отгруженные</a>
                        <a class="dropdown-item" href="/ordercancel">Отмененные</a>
                    </div>
                </div>
                <form method="GET" action="/createorder">
                    <button type="submit" class="btn-link" id='menu-createorder'>Создать заказ</button>
                </form>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рулоны</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/closedrolls">Список Рулонов</a>
                        <a class="dropdown-item" href="/discardedrolls">Списанные</a>
                        <a class="dropdown-item" href="/leftovers">Остатки</a>
                        <a class="dropdown-item" id='rollaccept' href="/rollaccept">Принять рулон</a>
                    </div>
                </div>
                <form method="GET" id='user-add' action="/createuser">
                    <button type="submit" class="btn-link">+ Пользователь</button>
                </form>
                <form method="GET" action="/exitsession">
                    <button type="submit" class="btn-link">Выход</button>
                </form>
            </div>
        </div>
        <div class="maincontent" id="content">
            <form id="saveform" action="/saveorder/<%=orderid%>" method="POST" onSubmit='return confirm("Сохранить изменения???")'>
                <div class="header">
                    <input action="action" type="button" id='backButton' value="<<< Вернуться" class='addButton' onclick="window.history.go(-1); return false;" />
                    <div class='top' style='display:flex;margin-top:10px'>
                        <div class='top1' style='display:flex'>
                            <span style='font-size:20px'>ООО 'Юг-Профиль'</span>
                        </div>
                        <div class='printbtns' style="margin-left:auto">
                            <button type="button" class="pr" onclick="clickPrint('pr')">Заказ для пр.</button>
                            <button type="button" class="birka" onclick="clickPrintBirka()">Бирка</button>
                            <img src="/img/print_icon.png" onclick="clickPrint('nepr')">
                        </div>

                    </div>

                    <div class="pagename">
                        <h3 id="ordern" style="color:black">Заказ №
                            <%=orderid%>
                        </h3>


                    </div>
                    <div class="bot-header">
                        <div class="createdate">
                            <p style="border-bottom:1px solid black">Дата оформления заказа</p>
                            <p class="createdate1"></p>
                        </div>
                        <div class="readydate">
                            <p style="border-bottom:1px solid black">Готовность</p>
                            <input class='readydate1'>
                        </div>
                        <div class="departdate">
                            <p style="border-bottom:1px solid black">Отгрузка</p>
                            <p class="departdate1"></p>
                        </div>

                        <!-- <div class="rullonf">
                        <p style="border-bottom:1px solid black">Рулоны</p>
                        <p class="rullon"></p>
                    </div> -->

                    </div>
                    <div class="clientname">
                        <p>Заказчик : </p><span style="margin-left:10px;" class='client'></span>
                        <p style="margin-left:auto">Телефон : </p><span style="margin-left:10px;" class='phonenumber'>88005553535</span>
                    </div>
                    <div class="product">
                        <div class="productname">
                            <p>
                                <span id="labelwave">Проф. лист</span>
                                <span style="margin-top:4px" class="wavetype"></span><span class="afterwave"></span>
                            </p>
                        </div>
                        <div class="color-field">
                            <span>Цвет: </span>
                            <p style="margin-left:right;">
                                <span style="margin-top:4px" class="color"></span>
                            </p>
                        </div>
                        <div class="thick-field">
                            <input type="text" class="thick" style="font-size:22px;margin-top:3px;">
                        </div>

                    </div>

                </div>
                <div class="positions">
                    <table id="node1">
                        <tr id="poss">
                            <th>№</th>
                            <th>Длина(м)</th>
                            <th>Кол-во(шт)</th>

                            <th>Площадь (кв.м)</th>
                            <th>Общ. площадь </th>
                            <th>Цена за кв.м (р.)</th>
                            <th>Итого (р)</th>
                            <th>П.м.</th>
                            <th>Примечание</th>


                        </tr>

                    </table>
                </div>
                <div class="upfoot">

                    <div class="pord">
                        <p>Итого :&nbsp; </p><span id="fullcost" class="spanord"></span>
                        <p> р.</p>
                    </div>

                    <div class="pord">
                        <p>Оплата : </p><span id="payment" class="spanord"></span></div>
                    <div class="pord">
                        <p>Примечание : </p><span id="misc1" class="spanord"></span></div>
                </div>
                <div class="downfoot2">
                    <p>Менеджер : </p><span id="manager" class="spanord"></span>
                    <p> &#160;&#160;&#160;_____</p>
                </div>
                <div class="printable">

                    <div class="downfoot">
                        <p>Заказчик : </p><span id="" class="spanord"></span>
                        <p> &#160;&#160;&#160;_______________________/_______</p>
                    </div>
                    <div class='delivery' style='display:flex'>
                        <p style='font-size:20px'>Данный товар после отправки в работу обмену и возврату не подлежит!</p>
                        <p style='margin-left:auto; font-size:20px; font-weight:bold'>Доставка: 89897007006 Александр</p>
                    </div>
                    <p style='font-size:20px'>Погрузка ТОЛЬКО БОКОВАЯ в открытые машины в порядке очереди</p>
                    <p>Срок хранения продукции не больше 2х недель, по истечении срока хранения компания не несет ответственности за товар.</p>
                </div>
                <div class='hiddeninfo'>
                    <input hidden id='posids' name='posids' value=''>
                    <input hidden id='poscount' name='poscount' value=''>
                    <input hidden id='uniqid' name='uniqid' value=''>
                    <input hidden id='createdposcount' name='createdposcount' value=''>
                    <input hidden id='postodelete' name='postodelete' value=''>
                    <input hidden id='costpm' name='costpm' value=''>
                    <input hidden id='postochange' name='postochange' value=''>
                    <input hidden id='postocreate' name='postocreate' value=''>
                    <input hidden id='misctoadd' name='misctoadd' value=''>
                    <input hidden id='misctochange' name='misctochange' value=''>
                    <input hidden id='misctodelete' name='misctodelete' value=''>
                    <input hidden id='pipetoadd'
                    name='pipetoadd' value=''>
                    <input hidden id='pipetochange'
                    name='pipetochange' value=''>
                    <input hidden id='pipetodelete'
                    name='pipetodelete' value=''>
                    <input hidden id='nectodelete'
                    name='nectodelete' value=''>
                    <input hidden id='nectoadd'
                    name='nectoadd' value=''>
                    <input hidden id='nectochange'
                    name='nectochange' value=''>
                    <input hidden id='finalcost1' name='finalcostmain' value=''>
                </div>
            </form>
            <div class="foot">

            </div>


        </div>

    </div>
    <div class='tag'>
        <div class='tag-content'>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src='/js/popper.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/permissions.js"></script>
    <script src="/js/orderpage.js "></script>



</body>

</html>